html {
    font-size: 16px;
    /* 1rem */
    font-family: var(--tipografia);
}


/* Estilos del banner */

.sct-banner {
    margin-bottom: 64px;
    width: 100%;
}

.sct-banner h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.sct-banner p {
    color: var(--negro-texto);
    font-size: 1rem;
    margin: 0 auto;
    text-align: center;
    width: 75%;
}

.sct-banner .img-container {
    width: 100%;
}

.sct-banner .img-container img {
    width: 100%;
}

.sct-banner .feature p {
    text-align: left;
}

.sct-banner .feature .p:first-child {
    font-size: 0.75rem;
}

.sct-banner .feature .p:nth-child(2) {
    font-size: 0.75rem;
}


/*Estilos Picks*/

.sct-picks {
    display: flow-root;
    padding: 0 2%;
}

.sct-picks h2{
    font-size: 1.5rem;    
}

.sct-picks .img-container {
    width: 100%;
}

.sct-picks .img-container img {
    width: 100%;
}

.sct-picks .card {
    border-bottom: 1px solid rgba(117, 117, 117, 0.3);
    color: var(--negro-titulo);
    float: left;
    padding: 20px 0;
}

.sct-picks .card header {
    display: none;
}

.sct-picks span {
    font-size: 0.75rem;
    color: var(--gris-categoria);
    display: block;
    margin-bottom: 15px;
}

.sct-picks p {
    font-size: 1.125rem;
    margin-bottom: 20px;    
}

.sct-picks a {
    color: var(--acento);
    font-size: 0.875rem;
    font-weight: bold;
    text-decoration: none;
}
@media only screen and (min-width: 725px){
    .sct-picks {
        display: flow-root;
        padding: 0 4%;
    }

    .sct-picks .img-container {
        display: none;
    }
    .sct-picks .card {
        border: 1px solid rgba(117, 117, 117, 0.3);
        border-radius: 10px;
        float: left;
        margin: 30px 2%;
        min-height: 305px;
        width: 45%;
    }
    
    .sct-picks .card header {
        display: block;
    }

    .sct-picks .card span {
        padding: 0 3%;
    }

    .sct-picks .card p {
        padding: 0 3%;
    }

    .sct-picks .card a {
        padding: 0 3%;
    }
}

@media only screen and (min-width: 768px) {
    .sct-banner .img-container {
        float: right;
        width: 60%;
    }
    .sct-banner .feature {
        float: left;
        padding: 88px 0;
        width: 40%;
    }
}